@import './theme/variables';

body {
    width: 400px;
    height: 600px;
    background-color: var(--color-bg);
    color: var(--color-text);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
